@{
    ViewData["Title"] = "Compétences";
}

    <div class="text-center">
        <h1 class="display-4">Liste des compétences</h1>
        <br />

        @foreach (var item in Model)
        {
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">@item.Nom</label>
            </div>
        }

        @Html.ActionLink("Suivant", "ParcoursPerso")
    </div>
