
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewBag.Title</h2>

<!--Row Mentions-->
<div class="row">

    <!--Col image-->
    <div class="col-md-1">

    </div>
    <!--Col Description-->
    <div class="col-xs-12 col-md-10">
        <div class="text-center">
            <h5>Vous souhaitez nous contacter ?</h5>

            <p>
                Pour toutes demandes, dialoguer avec l'équipe de StreamClass :
                Envoyez-nous un e-mail : <a href="mailto:contact@ecar.fr">contact@streamclass.fr</a>
            </p>

            <p>
                <strong>
                    StreamClass<br />
                    182 Quai George V<br />
                    76600 Le Havre<br />
                    France
                </strong>
            </p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2591.7023345550447!2d0.11578841515042806!3d49.49012956397156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e02f1c38b35b77%3A0xfb14a47a43e1ceeb!2s182%20Quai%20George%20V%2C%2076600%20Le%20Havre!5e0!3m2!1sfr!2sfr!4v1568027717100!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>



        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
