
@{
    ViewData["Title"] = "Mentions légales";
}


<h2>@ViewBag.Title</h2>

<!--Row Mentions-->
<div class="row">

    <!--Col image-->
    <div class="col-md-1">

    </div>
    <!--Col Description-->
    <div class="col-xs-12 col-md-10">
        <p>
            Conformément aux articles 6 et 19 de la Loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique (dite LCEN), nous vous informons que:
        </p>
        <p>
            Le site web www.StreamClass.fr est la propriété de la société de droit français StreamClass (siège social: 182 Quai George V, 76600 Le Havre, France).
            La société de droit français StreamClass, éditrice du site et responsable de son contenu, est titulaire du nom de domaine correspondant.
            Pour toute question ayant trait, notamment, à l'utilisation du site ou à ses contenus, nous vous invitons à vous adresser à la société éditrice dont les coordonnées figurent ci-dessous.
        </p>
        <h3>Société éditrice:</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dénomination</th>
                    <th scope="col">StreamClass</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Forme</td>
                    <td>SARL</td>
                </tr>
                <tr>
                    <td>Capital social</td>
                    <td>1 EUR</td>
                </tr>
                <tr>
                    <td>R.C.S.</td>
                    <td>Le Havre 054.042.869</td>
                </tr>
                <tr>
                    <td>Siège social</td>
                    <td>CCI & CAUX<br /> 182 Quai George V, 76600 Le Havre</td>
                </tr>
                <tr>
                    <td>Représentant légal</td>
                    <td>Machin</td>
                </tr>
                <tr>
                    <td>N° TVA</td>
                    <td>FR47643787935</td>
                </tr>
            </tbody>
        </table>

        <h3>Contacts:</h3>
        <p>
            Pour toute question relative à l'utilisation du site ou aux services fournis par StreamClass , ou encore pour toute réclamation, vous pouvez joindre à tout moment notre société par courrier à l'adresse ci-dessus ou par téléphone ou télécopie, en indiquant clairement l'objet de votre demande. Vous trouverez les coordonnées de nos différents services dans notre rubrique "Contacts".
        </p>
    </div>
    <div class="col-md-1">

    </div>
</div>

