@{
    ViewData["Title"] = "Sélection module";
}

<div class="text-center">
    <h1 class="display-4">Sélection du module</h1>
    <br />

    @Html.ActionLink("Redirection vers la liste des vidéos", "SelectionVideo")
</div>
