@{
    ViewData["Title"] = "Sélection vidéo";
}

<div class="text-center">
    <h1 class="display-4">Sélection de la vidéo</h1>
    <br />

    @Html.ActionLink("Redirection vers la vidéo", "Video")
</div>
